{% extends '::base.html.twig' %}

{% block metaTitle %}{{ ticket.title }}{% endblock %}

{% block title %}{{ ticket.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="columns small-10 small-centered">
            <h6 class="subheader">{{ ticket.createdAt|date("M, d Y") }}</h6>
            <p>{{ ticket.description }}</p>
        </div>
    </div>
{% endblock %}
